@import '../../styles/variables';


.link {
  @media (max-width: 500px) {
    font-size: 4.6vw;
  }
  font-size: 1.0416vw;
  margin-left: 2vw;
  letter-spacing: 0.3em;
  transition: color 0.4s;
  &:hover {
    color: $main-color;
  }
}

.black {
  color: $text-color;
}
.white {
  color: $white-color;
}
